<div>
  <h3>{{data.query.results.channel.item.title}}</h3>
  <div class="media" ng-show="data.query.results.channel.item.forecast.length" ng-repeat="forecast in data.query.results.channel.item.forecast">
    <div class="pull-left">
      <!-- <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 64px; height: 64px;" src="http://l.yimg.com/a/i/us/we/52/34.gif"> -->
      <i class="fa fa-calendar fa-5"></i>
    </div>
    <div class="media-body text-left">
      <h4 class="media-heading">{{forecast.day}} - {{forecast.date}}</h4>
      <p>{{forecast.text}} with temperatures reaching {{forecast.high}} and getting to as low as {{forecast.low}}.</p>
    </div>
  </div>
</div>
<div ng-show="!data.query.results.channel.item.forecast.length" >
  <p>No location set! Press the cog for settings.</p>
  <p><i class="fa fa-hand-o-down fa-4"></i></p>
</div>
<div>
  <a href="#/settings"><i class="fa fa-cog fa-5"></i></a>
</div>